<html>
  <head>
    <title>RSS Newspaper Generator</title>
    <link href="/assets/main.css" rel="stylesheet" />
    <link href="https://rsms.me/inter/inter.css" rel="stylesheet" />
  </head>
  <body>
    <form>
      <dl class="my-8 border-b">
        <dt><label for="url">RSS Feed URL</label></dt>
        <dd><input type="text" name="url" id="url" value=""></dd>
      </dl>
      <button type="submit" hx-post="/feeds" hx-target="#feed-response">Submit</button>
      <div id="feed-response" hx-get="/feeds" hx-trigger="load"></div>
      <hr />
      <div id="headlines" hx-get="/headlines" hx-trigger="load"></div>
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
  </body>
</html>
