<html>
  <head>
    <title>RSS Newspaper Generator</title>
    <link href="/assets/main.css" rel="stylesheet" />
    <link href="https://rsms.me/inter/inter.css" rel="stylesheet" />
  </head>
  <body>
    <form>
      <dl class="my-8 border-b">
        <dt><label for="url">RSS Feed URL</label></dt>
        <dd><input type="text" name="url" id="url" value=""></dd>
      </dl>
      <button
        type="submit"
        hx-post="/feeds"
        hx-target="#feed-response"
        hx-indicator=".loading"
      >
        <span>Submit</span>
      </button>
      <div id="feed-response" hx-get="/feeds" hx-trigger="load">
        <div>
          <p>Loading...</p>
        </div>
      </div>
      <hr />
      <div id="headlines" hx-get="/headlines" hx-trigger="load">
        <div>
          <p>Loading...</p>
        </div>
      </div>
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/loading-states.js"></script>
  </body>
</html>
